.penn {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
}

.penn-color {
  background-color: #00ba4f;
  border-left: 4px solid black;
  height: 100%;
  width: 36px;
  flex-shrink: 0;
}

.penn-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: sideways-rl;
  width: 100%;
}

.penn-name::after {
  display: block;
  content: "AVENUE";
}
