.connecticut {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.connecticut-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.connecticut-color {
  background-color: #f0f5fa;
  height: 30px;
  border-top: 4px solid black;
  flex-shrink: 0;
}

.connecticut-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connecticut-name::after {
  display: block;
  content: "AVENUE";
}
