.water-works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.water-works-img {
  margin-left: 2px;
  height: 70px;
  width: 80px;
}

.water-works-name::after {
  display: block;
  content: "WORKS";
}
