.st-james {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.st-james-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: sideways-lr;
  width: 100%;
}

.st-james-color {
  background-color: #f69302;
  height: 100%;
  width: 30px;
  border-right: black solid 4px;
  flex-shrink: 0;
}

.st-james-name::after {
  display: block;
  content: "PLACE";
}
