.baltic {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.baltic-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.baltic-color {
  background-color: #4b0082;
  height: 36px;
  border-top: 4px solid black;
  flex-shrink: 0;
}

.baltic-name::after {
  display: block;
  content: "AVENUE";
}
