.com-chest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 100%;
}

.com-chest-name {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.com-chest-name::after {
  display: block;
  content: "CHEST";
}

.com-chest-inst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.com-chest-inst::before {
  display: block;
  content: "FOLLOW";
}

.com-chest-inst::after {
  display: block;
  content: "ON TOP CARD";
}
