.red-chance {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.red-chance-name {
  writing-mode: sideways-rl;
}

.red-qMark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #db051d;
  transform: translate(-300%, -125%) scale(10) rotate(90deg);
  transform-origin: center;
  line-height: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  margin: 0;
  text-shadow: #000 0px 0px 0.25px, #000 0px 0px 0.25px, #000 0px 0px 0.5px,
    #000 0px 0px 0.25px, #000 0px 0px 0.25px, #000 0px 0px 0.25px;
}
