.rail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  height: 100%;
  font-weight: bold;
}

.rail-image {
  height: 35px;
  width: 50px;
}

.rail-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rail-name::after {
  display: block;
  content: "RAILROAD";
}
