.com-chestrl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  text-align: center;
  width: 100%;
  writing-mode: sideways-rl;
}

.com-chestrl-name {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.com-chestrl-name::after {
  display: block;
  content: "CHEST";
}

.com-chestrl-inst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

.com-chestrl-inst::before {
  display: block;
  content: "FOLLOW";
}

.com-chestrl-inst::after {
  display: block;
  content: "ON TOP CARD";
}

.chest-rl {
  transform: rotate(90deg);
  margin-bottom: 3px;
}
