.income-tax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.income-tax-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.income-tax-name::before {
  display: block;
  content: "INCOME";
}

.income-tax-name::after {
  display: block;
  content: "♦";
}

.income-tax-description {
  font-size: 12px;
  margin: 0;
  padding-top: 3px;
}

.income-tax-description::before {
  display: block;
  content: "PAY 10%";
}

.income-tax-description::after {
  display: block;
  content: "$200";
}

.income-tax-name,
.income-tax-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
