.medi {
  font-size: 8px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.medi-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.medi-name {
  display: flex;
  align-self: start;
}

.medi-price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.medi-color {
  background-color: #4b0082; /* Dark purple color */
  height: 40px;
  border-top: 4px solid black;
}
